*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
  
body,html{
  width: 100%;
  height: 100%;
  overflow-x: hidden  
}   
body{
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal
}
h1,h2,h3,h4,h5,h6{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal
}

  